@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@200;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body * {
  padding: 0.5rem;
  text-decoration: none;
}

/* STYLING FOR REUSABLE BUTTON CLASS */

.button {
  border: 1px solid;
  border-color: inherit;
  opacity: 0.8;
  border-radius: 0.2rem;
  transition: 300ms opacity ease-in-out;
  width: min-content;
}

.button:hover {
  opacity: 0.95;
  cursor: pointer;
}

.active-page {
  border-radius: 0 1rem;
  animation: fade-in forwards 0.3s ease-in-out;
}

body {
  background: rgba(255, 255, 206, 0.409)
    url("media/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
  background-size: cover;
  background-blend-mode: screen;
  font-family: Raleway, monospace;
  color: rgb(78, 78, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  position: relative;
  min-height: 100vh;
}

h1,
h2 {
  font-family: Raleway "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 200;
}

body > * {
  border-radius: 0.2rem;
  margin: 1rem;
}

header {
  border-bottom: 3px solid rgba(177, 0, 0, 0.239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: rgba(0, 128, 128, 0.821);
  margin: 0 0 3rem 0;
  border-radius: 0;
  height: 13rem;
  padding: 0;
}

/* LEFT HAND HEADING SECTION */

/* HEADER BADGE STYLING */

#badge-anchor-wrapper {
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 0rem;
  padding: 0;
}

#badge {
  transform: translateX(0.7rem);
}

.badge {
  background-color: rgba(114, 0, 0, 0.746);
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: 3px solid rgba(255, 255, 255, 0.525);
  font-size: 3.6rem;
}

.badge-left,
.badge-right {
  position: relative;
  color: white;
  width: 55%;
  height: 108%;
  padding: 0;
  transform: rotate(35deg);
}

.badge-left {
  top: -22%;
  left: -2%;
  border-right: 5px dotted rgba(0, 128, 128, 0.565);
  background: rgba(206, 138, 36, 0.9);
}

.badge-right {
  top: -94%;
  left: 44%;
  border-left: 5px dotted rgba(206, 138, 36, 0.9);
  background: rgba(177, 0, 0, 0.85);
}
.badge .badge-left p {
  text-decoration: none;
}
.badge-left p,
.badge-right p {
  font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}
.badge-left p {
  transform: rotate(-35deg) translate(10%, 35%);
}
.badge-right p {
  transform: rotate(-35deg) translate(-22%, 25%);
}

/* HEADER LOGO STYLES */

.header-logo-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.3rem;
  width: 100%;
  padding: 0;
  margin-bottom: 0.4rem;
}

.logo * {
  padding: 0.2rem;
}

#logo-anchor-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-blend-mode: screen;
  font-weight: 200;
  border-radius: 0.2rem;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 35vw;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: min-content;
}
.logo:hover {
  opacity: 1;
}

.logo h1 {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 400;
}

/* HEADING NAV SECTION */
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin-right: -100rem;
}

nav ul li {
  transform: skew(8deg);
  margin-top: 1rem;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12vw;
  font-size: 0.6rem;
  transform: skew(-8deg);
}

nav ul li * {
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255);
  opacity: 0.85;
  font-size: 1.5em;
  font-weight: 200;
  transition: opacity 300ms ease-in-out;
  padding: 0 0.3rem;
}

nav ul li a:hover {
  opacity: 1;
}

/* Icon Styling */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.icon-button * {
  padding: 0;
}

.icon-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}
.icon-button a i {
  transform: translateY(0.2rem);
  padding: 0 0.4rem 0.5rem;
}

main {
  padding-bottom: 6rem;
}

/* FOOTER STYLES */
footer * {
  padding: 0;
}
footer {
  position: absolute;
  padding: 0;
  padding: 0;
  font-size: 0.8rem;
  margin: 1rem 0 0;
  text-align: center;
  font-weight: 200;
  bottom: 0.3rem;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
}

.socials div {
  width: 55vw;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.socials a img {
  width: 10vw;
  padding-bottom: 1rem;
}

/* REUSEABLE TEXT SECTION */
.text-section {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90vw;
  border: 1px solid rgba(255, 255, 255, 0.501);
  background-color: rgba(255, 255, 255, 0.547);
  margin-bottom: 4rem;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 200;
  border-radius: 1rem;
}

.text-section ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  padding-top: 0;
}

.text-section ul li {
  padding: 0.5rem 1rem;
}

#projects-main .text-section,
#now-main .text-section {
  align-items: flex-start;
}

/* PAGE CONTENT STYLING */

/* INDEX STYLES */

#introduction h2 {
  font-size: 2.4rem;
  margin: 0.6rem 0 0.8rem;
}

#intro-tablet-h2 {
  display: none;
}
#intro-mobile-h2 {
  display: block;
}

#portrait {
  width: 100%;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.501);
}

#introduction .icon-button a {
  display: block;
  color: rgb(0, 128, 128);
  text-decoration: none;
}

/* Index Main Section Styles */

main {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#site-areas {
  width: 100%;
  margin-bottom: 3rem;
}
section > .section-anchor {
  opacity: 0.85;
  width: 95%;
  height: 25vw;
  margin: 1rem;
  color: white;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.878);
  transition: 300ms ease-in-out;
  margin-bottom: 2rem;
  text-decoration: none;
}

main > .section-anchor:hover {
  opacity: 0.95;
  cursor: pointer;
  box-shadow: -2px 2px 2px rgba(147, 147, 147, 0.609);
}

.projects {
  background-color: rgba(206, 138, 36, 0.85);
  border-radius: 1.5rem 0 0 0;
  transform: skew(-8deg);
}

.blog {
  transform: skew(-8deg);
  background-color: rgba(0, 128, 128, 0.821);
}
.now {
  border-radius: 0 0 1.5rem 0;
  background-color: rgba(177, 0, 0, 0.85);
  transform: skew(-8deg);
}

/* BLOG POST STYLES */

#blog-index-main .heading-body h3 {
  width: 100%;
  font-size: 0.9rem;
}

#blog-index-main .heading-body a {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.8rem;
}

#blog-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 9rem;
  width: 100%;
}
.blogpost * {
  margin: 0;
  width: 85vw;
  padding: 0;
}
.blogpost {
  background: white;
  padding: 0;
  border: 1px solid rgba(128, 128, 128, 0.332);
  border-radius: 1rem;
}
.blogpost-heading {
  background-color: rgba(177, 0, 0, 0.726);
  padding: 1rem;
  font-size: larger;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.506);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.blogpost-heading h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  width: 100%;
}

.blogpost-heading h3 {
  font-weight: 200;
  font-size: 1.2rem;
  width: 100%;
}

.blogpost-heading h4 {
  font-weight: 200;
  opacity: 0.8;
  font-size: 1rem;
  width: 100%;
}

.blogpost-heading div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 0.5rem;
}

.blogpost-heading img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

.blogpost figure img {
  width: 100%;
  height: 35vw;
  object-fit: fill;
}

.blogpost figcaption {
  color: inherit;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
  width: 90%;
  margin-left: 1rem;
}

.blogpost p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 200;
  padding: 2rem 1rem 4rem;
}

.blogpost-body ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.blogpost-body ul li {
  width: fit-content;
}
.blogpost-body ul li a {
  color: rgb(0, 128, 128);
  font-size: 0.7rem;
  opacity: 0.5;
  border: none;
}

/* REUSEABLE PAGE CONTENT HEADING STYLES */

.headings-group {
  margin: 0 0 5rem;
}

.headings-group li {
  list-style: none;
  transform: skew(-8deg);
  opacity: 0.85;
  color: white;
  font-weight: 200;
  display: block;
  align-items: center;
  margin-bottom: 1rem;
}
.headings-group a {
  color: white;
  text-decoration: none;
}
.heading-wrapper {
  border-radius: 1rem 0 1rem 0;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.878);
  padding: 0;
  overflow: hidden;
}

.heading-wrapper i {
  transform: translateY(0.4rem) translateX(0.3rem);
  padding: 0;
  margin-top: 0.3rem;
}

.heading-tab {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(177, 0, 0, 0.85);
  font-size: 3rem;
  font-weight: 100;
}

.heading-image {
  padding: 0;
  flex: 3;
}

.heading-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
}

.heading-wrapper > .heading-body {
  background-color: rgba(0, 128, 128, 0.821);
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.heading-body h3 {
  font-size: 1rem;
  padding: 0.5rem 0;
  transform: skew(8deg);
  line-height: 1.4rem;
}
.heading-body a {
  display: block;
  font-size: 1.1rem;
  margin: 0.3rem 1rem;
  padding: 0.3rem 0.5rem;
}

.heading-body p {
  display: none;
  transform: skew(8deg);
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 200;
  padding: 0 1rem;
}

.project-links {
  display: flex;
  justify-content: flex-start;
  transform: skew(8deg);
  padding: 0;
}

#projects-main h2,
#blog-index-main h2 {
  font-weight: 400;
}
#projects-main i {
  transform: translateY(-0.1rem);
}
#projects-main .heading-body {
  align-items: center;
}

/* Image section layout for NOW page */
#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 6vw;
  width: 100%;
}

#image-container div {
  max-width: 90vw;
  overflow: hidden;
  margin-bottom: 1rem;
}
#image-container div img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

@keyframes fade-in {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.197);
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 530px) {
  #portrait {
    width: 40%;
  }

  #blog-index-main .heading-body a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 650px) {
  header {
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
  }
  .header-logo-group {
    height: 100%;
    width: fit-content;
  }
  nav {
    height: 100%;
    width: 45vw;
  }
  nav ul {
    margin-right: 1.2rem;
    margin-bottom: 0.1rem;
  }

  nav ul li a {
    width: 3rem;
  }

  #introduction {
    flex-direction: row;
    justify-content: flex-start;
  }

  #intro-tablet-h2 {
    display: block;
    padding-bottom: 1.2rem;
  }
  #intro-mobile-h2 {
    display: none;
  }
  #introduction img {
    height: 15%;
    width: 15%;
    order: 1;
  }

  #introduction h2 {
    /* margin-left: 1rem; */
    font-size: 3rem;
  }

  #introduction section {
    transform: translateY(-5rem);
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #introduction .icon-button {
    order: 3;
  }

  #site-areas {
    display: flex;
    flex-direction: row;
    transform: translateX(-1.5vw);
    width: 95vw;
  }

  #site-areas > .section-anchor {
    width: 30vw;
    max-height: 15rem;
  }

  #site-areas,
  .headings-group,
  #tech-stack,
  #image-container {
    margin-bottom: 7rem;
  }

  .heading-body h3 {
    font-size: 1.8rem;
  }

  .heading-body p {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  .blogpost-heading img {
    width: 10%;
    height: 10%;
  }

  #blog-index-main .heading-body h3 {
    margin: 0.8rem 0 0;
  }

  #tech-stack {
    width: 75vw;
  }

  #blog-index-main .heading-body h3 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 0.2rem;
  }

  .socials div {
    width: 40vw;
  }
  .socials a img {
    width: 8vw;
  }
}

@media only screen and (min-width: 725px) {
  header {
    margin-bottom: 4rem;
  }
  #logo-anchor-wrapper {
    display: flex;
    padding: 0 0.5rem;
    width: fit-content;
  }

  #logo-anchor-wrapper {
    margin-left: 1rem;
    width: 20vw;
  }

  #logo-anchor-wrapper h1 {
    font-size: 2.6rem;
    line-height: 2rem;
  }
  #logo-anchor-wrapper h2 {
    font-size: 1.2rem;
  }

  #blog-index-main .heading-body * {
    font-size: 1.2rem;
  }

  .blogpost-heading img {
    width: 5vw;
  }
  .blogpost-body ul li a {
    font-size: 0.9rem;
  }

  #tech-stack {
    width: 65vw;
  }
  #image-container div {
    max-width: 42vw;
  }
}

@media only screen and (min-width: 900px) {
  #logo-anchor-wrapper {
    margin-left: 0.5rem;
    width: 20vw;
  }

  #logo-anchor-wrapper h1 {
    font-size: 2.6rem;
    line-height: 2rem;
  }
  #logo-anchor-wrapper h2 {
    font-size: 1.2rem;
  }

  nav {
    align-items: center;
    width: 36vw;
  }

  nav ul {
    width: 100%;
  }

  nav ul li a {
    width: 100%;
    font-size: 0.8rem;
  }

  .blogpost-heading img {
    width: 4vw;
  }

  #tech-stack {
    width: 50vw;
  }
  .heading-body p {
    font-size: 1.2rem;
  }
  #image-container {
    margin-bottom: 4rem;
  }

  .socials div {
    width: 20vw;
  }

  .socials a img {
    width: 4vw;
  }
}
