@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@200;400;500&display=swap");

* {
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body * {
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
}

h1, h2, h3, a {
  font-family: 'Fira Code', monospace;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* STYLING FOR REUSABLE BUTTON CLASS */

.button {
  border: 1px solid;
  border-color: inherit;
  opacity: 0.8;
  border-radius: 0.2rem;
  transition: 300ms opacity ease-in-out;
  width: min-content;
}

.button:hover {
  opacity: 0.95;
  cursor: pointer;
}

.active-page {
  border-radius: 0 1rem;
}

body {
  background: rgb(255);
  color: rgb(60, 60, 60);
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  position: relative;
  min-height: 100vh;
  /* creates pointer instead of selector over page */
  /* user-select: none; */
}

h1,
h2 {

  font-weight: 200;
  color:#484848
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  font-size: 1.8rem;
  padding: 0;

}
header h2 {
  padding: 0;
  font-size: 1.3rem;
}




/* HEADING NAV SECTION */
h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.gradient {
  margin: 1rem 0 0;
  background: linear-gradient(-45deg,  #ffffff, #ff7c7c,  #ffb8b8);
	background-size: 400% 400%;
	animation: gradient 18s ease infinite;
  border-radius: 50%;
  width: 80%;
  height: auto;
  border: 1px solid rgb(93, 93, 97);
  box-shadow: 5px 10px 10px grey;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gradient img {
  width: 95%;
  translate: 0 1.5rem;
}

nav {
  overflow: hidden;
  /* height: 5rem; */
  position: fixed;
  top: 0rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding: 0;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;

  background-color: white;
  /* border-bottom: 1px solid #484848 ; */
  /* border-bottom: 1px solid grey; */

}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 85vw;
  max-width: 800px;
  padding-bottom: 0;
  margin-bottom: 0;
}

nav ul li {
  margin: 0;
  padding-bottom: 0;
  width: auto;
}

nav ul li a {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(214, 82, 82);
  padding: .7rem;
  font-weight: 100;
  border-bottom: 2px solid #ff777700;
  transition: 100ms ease-in-out;
  border-radius: 1rem 1rem 0 0;
  opacity: .9;

} 

nav ul li a:hover {
  /* text-decoration: underline; */
/* background-color: rgba(21, 41, 93, 0.2);
  border-left: 1px solid  rgba(21, 41, 93, .1);
  border-top: 1px solid rgba(21, 41, 93, .1);
  border-right: 1px solid rgba(21, 41, 93, .1); */
  opacity: 1;
  border-bottom: 2px solid rgba(214, 82, 82);

}




/* Icon Styling */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}


/* FOOTER STYLES */
footer * {
  padding: 0;
}
footer {
  /* position: absolute; */
  padding: 1rem;
  font-size: 0.8rem;
  background-color: white;
  text-align: center;
  font-weight: 200;
  height: 2rem;
  bottom: 0rem;
  width: 100%;
  border-radius: 0;
  color:#484848

}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 0rem;
}

.socials * {
  padding: 0 .4rem;
  margin: .5rem  0 0;
}



.text-section ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  padding-top: 0;
}

.text-section ul li {
  padding: 0.5rem 1rem;
}


sup {
  padding: 0;
  font-size: .72rem;
}




/* PAGE CONTENT STYLING */

/* INDEX STYLES */
.card h2 {
  color: white;
  text-align: center;
  margin: 2rem 0 1rem ;
}

.text {
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
}
.text a {
  color: white;
  text-decoration: underline;
  margin: .1rem;
  padding: 0;
}
.card {
  /* position: relative; */
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  background: rgb(93,130,210);
  background: linear-gradient(221deg, rgb(72, 103, 169) 17%, rgb(60, 88, 149) 40%, rgb(39, 60, 104) 90%);
  color: white;
  width: 100%;
  margin: 2rem 0 8rem;
  height: auto;
  line-height: 1.5rem;
  flex-wrap: wrap;
  padding: 0rem .5rem 2rem;
  box-shadow: 5px 10px 10px grey;
}
.card figure {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #484848;
  text-align: center;
  font-size: .8rem;
  border-radius: .5rem;
  margin: 2rem 0;
  line-height: 1.5rem;
}






.blog-post p {
  line-height: 1.5rem;}

figcaption {
color: rgb(78, 78, 78);
font-weight: 100;
font-style: italic; 
font-size: .3rem;
}
 h2{
  margin-top: 1rem;
 }


#introduction .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 1.8rem;
  
}
#introduction .icon-button a {
  color: rgba(214, 82, 82);
  text-decoration: none;
  font-weight: heavy;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.);
  width: auto;
  border-radius: .4rem;
  padding: .3rem 0 0 .8rem;
  transition: 100ms ease-in-out;
}

#introduction .icon-button a i {
display: inline;
padding: 0;
margin: 0;
}
#introduction .icon-button a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* Project Carousel */

.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 8rem;
  padding: 0;
  position: relative;
  background: rgb(93,130,210);
  background: linear-gradient(221deg, rgb(72, 103, 169) 17%, rgb(60, 88, 149) 40%, rgb(39, 60, 104) 90%);
  box-shadow: 5px 10px 10px grey;
}
.carousel h2{
  color: white;
margin: .75rem;
text-align: center;
margin: 1.8rem 0;
}

.slide-container {
  height: auto;
  width: 96%;
  display: flex;
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}
.slide img {
  /* width: 80%; */
  border-radius: 1rem;
  height: auto;
  width: 80w;
}
.slide h4 {
  font-size: 1rem;
  margin: 0;
}
.slide h3 {
  margin-bottom: -.5rem;
}

.slide p {
width: 88%;
}

.slide a {
  margin: 1rem .5rem;
  color: #df5c5c;
  opacity: .8;
  transform: opacity(150ms);
  font-size: 1.5rem;
  text-decoration: none;
}
.slide .row-links a {
font-size: 1.2rem;
  display: block;
line-height: 1rem;
margin: .5rem;
}

.slide div{
  margin-left: 2rem;
}
.slide a:hover {
  opacity: 1;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  color:#484848;
  font-weight: 100;
  border-radius: 1rem;
  margin: 0;

}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 15%;
  bottom: 0;
  margin: auto;
  height: 4rem;
  color: #ff7777;
  background-color: rgb(106, 106, 106);
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus
 {
  opacity: .8;
}
#slide-left {
  left: 0;
  /* margin-left: .5rem; */
  margin-left: 2%;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-right {
  right: 0;
  margin-right: 2%;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slide-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}


/* Index Main Section Styles */

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

figcaption {
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0 0 1rem;
}

/* Image section layout for NOW page */
#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#image-container div {
  width: 100%;
  padding: 0;
  margin: 0;  
  overflow: hidden;
}
#image-container div img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
}



/* BLOG POST STYLING */
#blog-body nav{  
  border-bottom: 1px solid rgb(170, 170, 170);
  z-index: 2;
}

#blog-body nav h1{
  font-size: .9rem;
  margin-top: 1rem;
}
#blog-body nav h2{
  font-size: .7rem;
  margin: 0;
}
  #blog-body nav *{
  padding: 0 0 0 .75rem;
}
#blog-body nav ul {
  padding: 1rem 1.5rem;;
  width: auto;
}

p em {
  padding: 0;
}


.blog-post {
  width: 100vw;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: .9rem;
}

.blog-post h1 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 0;

}



.blog-credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-top: 0;
}
.blog-credit h2 {
  font-size: .8rem;
  margin: 0;
  line-height: .2rem;
}
.blog-date {
  font-style: italic;
}

#blog-date {
  font-style: italic;
  font-size: .6rem;
}

.blog-post img {
  padding: .2rem;
  border-radius: .3rem;
}



.blog-post figure {
margin: 2rem 0;
  background-color: rgb(215, 215, 215);
  width: auto;
  border-radius: 1rem;
  /* width: 90%; */
  font-size: .7rem;
}

.card figcaption {
  color: white
}
#caption {
margin-bottom: 1rem;
  font-size: .7rem;
}

#index-blog ol {
  margin: 1rem 0;
  padding: 0;
}
#index-blog ol * {
  width: auto
}


#index-blog ol li a {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 100ms ease-in-out;
  opacity: .8;

}
#index-blog ol li * {
  color: rgba(214, 82, 82);
  /* text-decoration: underline; */
}
#index-blog ol li a:hover {
  opacity: 1;
}

#index-blog img {
  padding: 0;
  border-radius: .3rem;
}


#index-blog ol li {
  background-color: white;
  border-radius: .3rem;
  margin-top: 1rem;
  border: 1px solid rgb(170, 170, 170);
  padding: 0;
}

#caption {
  font-size: .6rem;
  padding-top: 0;
  margin-left: .5rem;
  font-style: italic;
}


figure ul li  {
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: space-between;
}

li span {
  font-family: fira-code, monospace;
}


/* MEDIA QUERIES */
@media (min-width: 420px) {
  nav ul li a {
    font-size: 1.5rem;
  }
}

@media (min-width: 500px) {
  #hero-img {
    width: 50vw;
  }
  nav ul li a {
    font-size: 1.6rem;
  }

  .socials {
  width: 45%;
  margin: 1rem;
}
  .card figure {
  font-size: 1rem;
  line-height: 1.8rem;
  }

  .card  {
  font-size: 1.2rem;
    padding: 0rem 1rem 2rem;
  }
  .slide a {
    margin: 1rem
  }

.slide .row-links a {
  font-size: 1.5rem;
  line-height: 1.6rem;
}


/* BLOG POST STYLING */

#blog-body nav h1{
  font-size: 1.2rem;
}
#blog-body nav h2{
  font-size: 1rem;
}
  #blog-body nav *{
  padding: 0 0 0 .75rem;
}
#blog-body nav ul {
  padding: 1.5rem 2em;;
}

.blog-post {
  width: 96vw;
  font-size: 1rem;
}

.blog-post h1 {
  font-size: 1.8rem;
}

.blog-post h2 {
  font-size: 1.5rem;
}

.blog-credit {
  flex-direction: row;
  font-size: 1.6rem;
  margin-bottom: .8rem;
}
.blog-credit h2 {
  font-size: .8rem;
}
#blog-date {
  font-size: .8rem;  
}
}

@media (min-width: 700px) {
  #hero-img {
    width: 35vw;
    margin-bottom: 1rem;
  }
  #hero-img img{
    transform: translateY(.8rem);
  }

.card figure {
  width: 85%;
  margin: 3rem auto;
  font-size: 1.2rem;
  padding-top: 2rem;
}

.slide a {
  margin: 2rem
}

.socials {
  width: 50%;
  margin: 1rem;
}

.card {
  padding: 0rem 2rem 2rem;
}

.card, .carousel{
  width: 85vw;
  border-radius: 1rem;

}
.text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

/* BLOG POST STYLES */
#blog-body nav h1{
  font-size: 1.6rem;
}
#blog-body nav h2{
  font-size: 1.2rem;
}
  #blog-body nav *{
  padding: 0 0 0 1rem;
}
#blog-body nav ul {
  padding: 1.5rem 2.5em;;
}

.blog-post {
  width: 90vw;
  font-size: 1.1rem;
}

.blog-post h1 {
  font-size: 2.4rem;
}

.blog-post h2 {
  font-size: 1.7rem;
}

.blog-credit {
  margin-top: .6rem;
  margin-bottom: 1.3rem;
}
.blog-credit h2 {
  font-size: 1.1rem;
}
#blog-date {
  font-size: 1.1rem;
}

#caption {
  font-size: .9rem;
}
#credit {
  font-size: 1rem;
}
}


@media (min-width: 950px) {

    nav ul li a {
    font-size: 2rem;
    margin: 0 1rem;
  }
  #hero-img {
    width: 30vw;
    margin: 3rem 0;
  }
  #hero-img img{
    transform: translateY(.8rem);
  }
  nav ul {
    width: 60vw;
  }
  /* .slide a {
    font-size: 1.7rem;
  } */
  .socials {
    width: 40%;
  }
}

@media (min-width: 1100px) {
  #hero-img {
    width: 19vw;
    margin: 3rem 0;
  }
.card, .carousel{
  width: 65vw;
  border-radius: 1rem;
}
#image-container div {
  width: 90%;}
}